* {
  font-family: 'Arial', sans-serif; 
}

.admin-navbar {
    position: fixed;
    background-color: #004643;
    padding: 0px 20px;
    color: #faf4d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    height: 50px; /* Висота навбару */
    z-index: 1001; /* Забезпечує, щоб навбар був поверх сайдбару */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .hamburger-menu {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
  }
  
  .hamburger-menu:hover {
    color: #faf4d3;
  }
  
  .navbar-title {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #faf4d3;
}

/* Кнопка для виходу */
.logout-button {
    background: none;
    border: none;
    color: #faf4d3;
    font-size: 18px;
    cursor: pointer;
}
.logout-button:hover {
    color: #3498db;
}