* {
  font-family: 'Arial', sans-serif; 
}

.cart-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cart-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.empty-cart {
  font-size: 18px;
  color: #777;
}

.go-to-shopping-home {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: white;
  color: #004643;
  border: 1px solid #0c1618;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
}

.go-to-shopping-home:hover {
  background-color: #004643;
  color: white;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-item-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

.cart-item-details {
  flex: 1;
  text-align: left;
  margin-left: 15px;
}

.cart-item-details h3 {
  font-size: 18px;
  margin: 5px 0;
  color: #333;
}

.cart-item-details p {
  font-size: 16px;
  color: #555;
}

.cart-item-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item-actions button {
  width: 50px;
  height: 40px;
  background-color: white;
  color: #004643;
  border: 1px solid #0c1618;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
}

.cart-item-actions button:hover {
  background-color: #004643;
  color: white;
}

.cart-item-actions span {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.cart-total {
  margin-top: 20px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  border-top: 2px solid #ddd;
}

.clear-cart {
  background-color: white;
  color: #004643;
  border: 1px solid #0c1618;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
}

.clear-cart:hover {
  background-color: #004643;
  color: white;
}

.checkout-cart-button {
  background-color: white;
  color: #004643;
  border: 1px solid #0c1618;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
}

.checkout-cart-button:hover {
  background-color: #004643;
  color: white;
}