* {
  font-family: 'Arial', sans-serif; /* Глобальний шрифт для всієї сторінки */
}

.favourite-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .favourite-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .empty-favourite {
    font-size: 18px;
    color: #777;
  }
  
  .go-shopping {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: white;
    color: #004643;
    border: 1px solid #0c1618;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .go-shopping:hover {
    background-color: #004643;
    color: white;
  }
  
  .favourite-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .favourite-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .favourite-item:last-child {
    border-bottom: none;
  }
  
  .favourite-item-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .favourite-item-details {
    flex: 1;
    text-align: left;
    margin-left: 15px;
  }
  
  .favourite-item-details h3 {
    font-size: 18px;
    margin: 5px 0;
    color: #333;
  }
  
  .favourite-item-details p {
    font-size: 16px;
    color: #555;
  }
  
  .favourite-item-actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .favourite-item-actions button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: white;  
    color: #004643;
    border: 1px solid #0c1618;    
    font-size: 16px;          
    cursor: pointer;         
    transition: all 0.3s ease; 
    border-radius: 5px;
  }

  .favourite-heart-page {
    position: relative;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    color: red;
  }
  
  .favourite-heart-page:hover {
    color: #ccc;
    transform: scale(1.2);
  }

  .add-to-cart-favourite-btn {
    background-color: white;  
    color: #004643;
    padding: 15px 20px;       
    font-size: 20px;          
    cursor: pointer;         
    transition: all 0.3s ease; 
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    align-items: center;
    justify-content: center;
  }
  
  .add-to-cart-favourite-btn:hover {
    background-color: #004643;
    color: white;            
  }
  

  