* {
  font-family: 'Arial', sans-serif; 
}

.footer {
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
    background-color: #004643;
    color: #faf4d3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  