* {
  font-family: 'Arial', sans-serif; 
}

.manage-orders {
    padding: 20px;
    margin-top: 20px;
  }
  
  .manage-orders table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .manage-orders table th,
  .manage-orders table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .manage-orders button {
    padding: 5px 10px;
    background-color: white;
    color: #004643;
    border: 1px solid #0c1618;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .manage-orders button:hover {
    background-color: #004643;
    color: white;
  }
  
  .update-status-form {
    margin-top: 20px;
  }
  
  .update-status-form select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .update-status-form button {
    padding: 12px 20px;
    background-color: white;
    color: #004643;
    border: 1px solid #0c1618;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

.reviews form button:hover {
  background-color: #004643;
  color: white;
  }
  
  .update-status-form button:hover {
    background-color: #004643;
    color: white;
  }
  